@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@model EjerciciosUD9_el_bueno.Models.clsPersona

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body> 
    <form method="post">

        <input type="text" name="id" />
        @Html.TextBox("nombre")
        @Html.TextBoxFor(persona => persona.apellidos)
        @Html.TextBoxFor(persona => persona.fechaNacimiento)
        @Html.DropDownListFor(m => m.genero, new List<SelectListItem>
                  { new SelectListItem{Text="Hombre", Value="H"},
                    new SelectListItem{Text="Mujer", Value="M"}
                  }, "Please select")
        @Html.TextBoxFor(persona => persona.correo)
        @Html.TextBoxFor(persona => persona.telefono)
        <input type="submit" name="Enviar" />
    </form>
</body>
</html>