@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EjerciciosUD9_el_bueno.Models.clsPersona

    <!DOCTYPE html>

    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Información</title>
        </head>

        <body>
            <h2>ID - @Model.id</h2>
            <h2>Nombre - @Model.nombre</h2>
            <h2>Apellidos - @Model.apellidos</h2>
            <h2>Fecha de nacimiento - @Model.fechaNacimiento</h2>
            <h2>Género - @Model.genero</h2>
            <h2>Email - @Model.correo</h2>
            <h2>Teléfono - @Model.telefono</h2>
        </body>
    </html>